<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post Page!</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h1>Add New Post</h1>
    <a href="/">back</a>
    <br />
    <br />
    <form method="post">
        <label for="title">Enter the title</label>
        <br />
        <input placeholder="title" name="title" id="title" />
        <br />
        <br />
        <label for="content">Enter the content</label>
        <br />
        <textarea placeholder="content" name="content" id="content"></textarea>
        <br />
        <br />
        <button>Add</button>
    </form>
</body>

</html>